<div id="listOfSigners">
    
<h3>Here is the list of all signers</h3>

<ul>
{{#signers}}
    {{#if url}}
        <li><a href="{{url}}">{{first_name}} {{last_name}}</a> {{age}} <a href="/signers/{{city}}">{{city}}</a></li>
    {{else}}
        <li>{{first_name}} {{last_name}} {{age}} <a href="/signers/{{city}}">{{city}}</a></li>
    {{/if}}
{{/signers}}
</ul>
</div>
